header {
  background: blue;
}

nav {
  background-color: #1C2237;
}

main {
  background-color: #2b30340d;
}

body {
  color: #748AA1;
}

h1, h2, h3 {
  color: #282D32;
}

a {
  color: #4D5AFF;
}

[class$="--active"] {
  background-color: #4D5AFF;
}
