header {
  background: blue;
}

nav {
  background-color: #1C2237;
}

main {
  background-color: #2b30340d;
}

body {
  color: #748AA1;
}

h1, h2, h3 {
  color: #282D32;
}

a {
  color: #4D5AFF;
}

[class$="--active"] {
  background-color: #4D5AFF;
}

.paper {
  background-color: #FFFFFF;
  box-shadow: -5px 5px 10px 0 rgba(30,30,30,0.05);
}