.dashboard-container {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 20% 80%;
  height: 100%;
}

.dashboard-container > main {
  display: grid;
  grid-template-rows: 3em 1fr 1fr;
  grid-gap: 1em;
  padding: .5em 2em;
}

.dashboard-container__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}