<app-header></app-header>
<div class="dashboard-container">
  <app-nav></app-nav>
  <main>
    <h1 class="dashboard-container__heading">Dashboard</h1>
    <section class="dashboard-container__graph paper">
      Graph Section
    </section>
    <section class="dashboard-container__list">
      <article class="paper">
        List
      </article>
      <article class="paper">
        List
      </article>
      <article class="paper">
        List
      </article>
    </section>
  </main>   
</div>
