<div class="app-container">
  <app-nav></app-nav>
  <main>
    <h1>Dashboard</h1>
    <section class="paper graph-section">
      <img src="../assets/graph.png"/>
    </section>
    <section class="issues-lists">
      <article class="paper" *ngFor="let j of [1, 2]">
        <h2>High Priority</h2>
        <hr/>
        <div *ngFor="let i of [1, 2, 3]">
          <app-issue-card-mini></app-issue-card-mini>
          <hr/>
        </div>
      </article>
      <article class="paper">
        List
      </article>
    </section>
  </main>   
</div>