.app-container > main {
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-gap: 1em;
  padding: .5em 2em;
}

.dashboard-lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
}

.dashboard-list__heading {
  padding: .5em;
}

.dashboard-container__graph {
  width: 100%;
}